<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .x-button {
            background-color: whitesmoke;
            color: red;
            font-weight: 600;
            cursor: pointer;
        }
    </style>
    <title>Document</title>
</head>
<body>

    <h1>지역 수정</h1>
    <div>
        <span>글 번호 : </span>
        <span id="regionId" th:text="${resUpdateMainDTO.regionId}"></span>
    </div>
    <div>
        <input id="regionName"  type="text" placeholder="수정할 지역" th:value="${resUpdateMainDTO.regionName}">
        <button th:onclick="updateRegion([[${resUpdateMainDTO.regionId}]])">수정하기</button>
    </div>

    <script>

        //방법2 매개변수로 받기
        const updateRegion = (regionId) => {

            // 방법1
            // document.querySelector("#regionId").innerText;

            const regionName = document.querySelector("#regionName").value;

            const dto = {
                regionName : regionName
            }

            fetch("/api/v1/update/" + regionId, {
                method : "PUT",
                headers: {
                    'Content-Type': 'application/json',
                },
                body : JSON.stringify(dto)
            })
            .then((response) => response.json())
            .then((result) => {
                alert(result.message);
                if (result.code == 0) {
                    location.href = "/";
                }
            });
        }

    </script>
</body>
</html>